.screen-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--horiziontal-space);
  margin: 15px 0px;
}

.screen-header__title {
  font-size: 28px;
  font-weight: 600;
}

.screen-header__icons span {
  margin-left: 25px;
  position: relative;
}

.gear-container {
  position: relative;
  display: inline-block;
}
.screen-header__notification {
  position: absolute;
  background-color: tomato;
  display: block;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  left: -2px;
  bottom: 24px;
}

@keyframes rotateCog {
  from {
    transform: none;
  }
  to {
    transform: rotateZ(360deg);
  }
}

.screen-header__icons .only-gear:hover {
  animation: rotateCog 2s linear infinite;
}
