.screen-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--horiziontal-space);
  margin: 15px 0px;
}

.screen-header__title {
  font-size: 28px;
  font-weight: 600;
}

.screen-header__icons span {
  margin-left: 25px;
  position: relative;
}

.screen-header__notification {
  background-color: tomato;
  display: block;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  position: absolute;
  left: -2px;
  bottom: 17px;
}
